.tabs {
    margin: 0 auto;
  }
  #tab-button {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #tab-button li {
    display: table-cell;
    width: 20%;
  }
  #tab-button li a {
    display: block;
    padding: 1.4em;
    /* border: 1px solid #ddd; */
    text-align: center;
    color: #000;
    text-decoration: none;
  }
  #tab-button li:not(:first-child) a {
    border-left: none;
  }
  /* #tab-button li a:hover, */
  #tab-button .is-active a {
    border-bottom-color: transparent;
    background: #03b4c6;
    color: #FFF;
  }
  .tab-contents {
    /* padding: 1.5em 2em 1em; */
    /* border: 1px solid #ddd; */
  }
  
  
  
  .tab-button-outer {
    display: none;
  }
  .tab-contents {
    margin-top: 20px;
    background-color: #03b4c6;
  }


  .features-container {
    padding: 17px;
    border: 3px solid #3A4D8F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
  }

  .features-image {
    align-items: center;
    margin: 30px 0 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .features-title {
    text-align: center;
    margin-bottom: 30px;
    color: #2F281E;
    font-weight: 700;
    font-size: 30px;

  }

  .features-description {
    color: #2F281E;
    font-weight: 500 !important;
    margin-bottom: 40px;
  }

  .features-sign-up {
    margin-top: 100px;
  }






  @media screen and (min-width: 768px) {
    .tab-button-outer {
      position: relative;
      z-index: 2;
      display: block;
    }
    .tab-select-outer {
      display: none;
    }
    .tab-contents {
      position: relative;
      top: -1px;
      margin-top: 0;
    }
  }